# Understanding Hired Rides in NYC

_[Project prompt](https://docs.google.com/document/d/1VERPjEZcC1XSs4-02aM-DbkNr_yaJVbFjLJxaYQswqA/edit#)_

_This scaffolding notebook may be used to help setup your final project. It's **totally optional** whether you make use of this or not._

_If you do use this notebook, everything provided is optional as well - you may remove or add prose and code as you wish._

_Anything in italics (prose) or comments (in code) is meant to provide you with guidance. **Remove the italic lines and provided comments** before submitting the project, if you choose to use this scaffolding. We don't need the guidance when grading._

_**All code below should be consider "pseudo-code" - not functional by itself, and only a suggestion at the approach.**_

## Project Setup

In [87]:
pip install geopandas

Requirement already satisfied: geopandas in c:\users\huang\anaconda3\lib\site-packages (1.0.1)
Requirement already satisfied: numpy>=1.22 in c:\users\huang\anaconda3\lib\site-packages (from geopandas) (1.26.4)
Requirement already satisfied: pyogrio>=0.7.2 in c:\users\huang\anaconda3\lib\site-packages (from geopandas) (0.10.0)
Requirement already satisfied: packaging in c:\users\huang\anaconda3\lib\site-packages (from geopandas) (23.2)
Requirement already satisfied: pandas>=1.4.0 in c:\users\huang\anaconda3\lib\site-packages (from geopandas) (2.2.1)
Requirement already satisfied: pyproj>=3.3.0 in c:\users\huang\anaconda3\lib\site-packages (from geopandas) (3.7.0)
Requirement already satisfied: shapely>=2.0.0 in c:\users\huang\anaconda3\lib\site-packages (from geopandas) (2.0.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\huang\anaconda3\lib\site-packages (from pandas>=1.4.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\huang\anaconda3\lib\site-packages (from pandas>=1.4.0->geopandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\huang\anaconda3\lib\site-packages (from pandas>=1.4.0->geopandas) (2023.3)
Requirement already satisfied: certifi in c:\users\huang\anaconda3\lib\site-packages (from pyogrio>=0.7.2->geopandas) (2024.8.30)
Requirement already satisfied: six>=1.5 in c:\users\huang\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.4.0->geopandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
# all import statements needed for the project, for example:

import os

import bs4
import matplotlib.pyplot as plt
import pandas as pd
import requests
import sqlalchemy as db
import re
import geopandas as gpd
import math

In [5]:
# any constants you might need; some have been added for you, and 
# some you need to fill in

TLC_URL = "https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page"

PARQUET_FILES = "parquet_files"
TAXI_ZONES_DIR = "taxi_zones"
TAXI_ZONES_SHAPEFILE = f"{TAXI_ZONES_DIR}/taxi_zones.shp"
WEATHER_CSV_DIR = "weather_data"

CRS = 4326  # coordinate reference system

# (lat, lon)
NEW_YORK_BOX_COORDS = ((40.560445, -74.242330), (40.908524, -73.717047))
LGA_BOX_COORDS = ((40.763589, -73.891745), (40.778865, -73.854838))
JFK_BOX_COORDS = ((40.639263, -73.795642), (40.651376, -73.766264))
EWR_BOX_COORDS = ((40.686794, -74.194028), (40.699680, -74.165205))

DATABASE_URL = "sqlite:///project.db"
DATABASE_SCHEMA_FILE = "schema.sql"
QUERY_DIRECTORY = "queries"

In [6]:
# Make sure the QUERY_DIRECTORY exists
try:
    os.mkdir(QUERY_DIRECTORY)
except Exception as e:
    if e.errno == 17:
        # the directory already exists
        pass
    else:
        raise

## Part 1: Data Preprocessing

### Download All data

In [ ]:
def get_all_urls_from_tlc_page():
    response = requests.get(TLC_URL)
    html = response.content
    return html

In [ ]:
#Identifies all of the yellow and fhvhv parquet files for years 2020 - 2024
pattern = re.compile(r".*(yellow|fhvhv).*(2020|2021|2022|2023|2024)-\d{2}\.parquet")

def filter_parquet_urls():
    html = get_all_urls_from_tlc_page()
    soup = bs4.BeautifulSoup(html, "html.parser")
    urls = soup.find_all("a", href=pattern)
    parquet_urls = [link["href"].strip() for link in urls]
    return parquet_urls

In [ ]:
folder_name = "parquet_files"

# Check if the folder exists
if not os.path.exists(folder_name):
    os.mkdir(folder_name)
    print(f"Folder '{folder_name}' created successfully!")
else:
    print(f"Folder '{folder_name}' already exists.")

In [ ]:
# parses the filename from the link and then downloads the files one by one
def download_parquet_files():
    for link in filter_parquet_urls():
        filename = link.split("/")[-1]
        r = requests.get(link)
        with open(f"parquet_files/{filename}", "wb") as f:
            f.write(r.content)

#run the first time to download data
#download_parquet_files()

### Load Taxi Zones & Parquet Files

In [7]:
#Reads the shape file
def load_taxi_zones(shapefile):
    taxi_zones = gpd.read_file(shapefile)
    return taxi_zones

In [8]:
gdf_taxi_zones = load_taxi_zones(TAXI_ZONES_SHAPEFILE)
print(gdf_taxi_zones.head())

   OBJECTID  Shape_Leng  Shape_Area                     zone  LocationID  \
0         1    0.116357    0.000782           Newark Airport           1
1         2    0.433470    0.004866              Jamaica Bay           2
2         3    0.084341    0.000314  Allerton/Pelham Gardens           3
3         4    0.043567    0.000112            Alphabet City           4
4         5    0.092146    0.000498            Arden Heights           5

         borough                                           geometry
0            EWR  POLYGON ((933100.918 192536.086, 933091.011 19...
1         Queens  MULTIPOLYGON (((1033269.244 172126.008, 103343...
2          Bronx  POLYGON ((1026308.77 256767.698, 1026495.593 2...
3      Manhattan  POLYGON ((992073.467 203714.076, 992068.667 20...
4  Staten Island  POLYGON ((935843.31 144283.336, 936046.565 144...

In [9]:
# converts taxi zone geometry coordinates to the appropriate coordinate system  
gdf_taxi_zones = gdf_taxi_zones.to_crs(epsg=4326)
gdf_taxi_zones

,OBJECTID,Shape_Leng,Shape_Area,zone,LocationID,borough,geometry
0,1,0.116357,0.000782,Newark Airport,1,EWR,"POLYGON ((-74.18445 40.695, -74.18449 40.6951,..."
1,2,0.433470,0.004866,Jamaica Bay,2,Queens,"MULTIPOLYGON (((-73.82338 40.63899, -73.82277 ..."
2,3,0.084341,0.000314,Allerton/Pelham Gardens,3,Bronx,"POLYGON ((-73.84793 40.87134, -73.84725 40.870..."
3,4,0.043567,0.000112,Alphabet City,4,Manhattan,"POLYGON ((-73.97177 40.72582, -73.97179 40.725..."
4,5,0.092146,0.000498,Arden Heights,5,Staten Island,"POLYGON ((-74.17422 40.56257, -74.17349 40.562..."
...,...,...,...,...,...,...,...
258,259,0.126750,0.000395,Woodlawn/Wakefield,259,Bronx,"POLYGON ((-73.85107 40.91037, -73.85207 40.909..."
259,260,0.133514,0.000422,Woodside,260,Queens,"POLYGON ((-73.90175 40.76078, -73.90147 40.759..."
260,261,0.027120,0.000034,World Trade Center,261,Manhattan,"POLYGON ((-74.01333 40.70503, -74.01327 40.704..."
261,262,0.049064,0.000122,Yorkville East,262,Manhattan,"MULTIPOLYGON (((-73.94383 40.78286, -73.94376 ..."
262,263,0.037017,0.000066,Yorkville West,263,Manhattan,"POLYGON ((-73.95219 40.77302, -73.95269 40.772..."

In [10]:
# load parquet file into a pandas DataFrame
def load_parquet_file(file_path):
    df = pd.read_parquet(file_path)
    return df

In [11]:
# load a random yellow taxi trip parquet file to check if the function works correctly for testing purposes
example = os.path.join(PARQUET_FILES, "yellow_tripdata_2023-01.parquet")
example_df = load_parquet_file(example)

# preview the data
print(example_df.head())

   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         2  2023-01-01 00:32:10   2023-01-01 00:40:36              1.0
1         2  2023-01-01 00:55:08   2023-01-01 01:01:27              1.0
2         2  2023-01-01 00:25:04   2023-01-01 00:37:49              1.0
3         1  2023-01-01 00:03:48   2023-01-01 00:13:25              0.0
4         2  2023-01-01 00:10:29   2023-01-01 00:21:19              1.0

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0           0.97         1.0                  N           161           141
1           1.10         1.0                  N            43           237
2           2.51         1.0                  N            48           238
3           1.90         1.0                  N           138             7
4           1.43         1.0                  N           107            79

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             2          9.3   1.00      0.5        0.00           0.0
1             1          7.9   1.00      0.5        4.00           0.0
2             1         14.9   1.00      0.5       15.00           0.0
3             1         12.1   7.25      0.5        0.00           0.0
4             1         11.4   1.00      0.5        3.28           0.0

   improvement_surcharge  total_amount  congestion_surcharge  airport_fee
0                    1.0         14.30                   2.5         0.00
1                    1.0         16.90                   2.5         0.00
2                    1.0         34.90                   2.5         0.00
3                    1.0         20.85                   0.0         1.25
4                    1.0         19.68                   2.5         0.00

In [12]:
# load a random High-Volume For-Hire Vehicle trip parquet file to check if the function works correctly
example2 = os.path.join(PARQUET_FILES, "fhvhv_tripdata_2023-01.parquet")
example_df2 = load_parquet_file(example2)

# preview the data
print(example_df2.head())

  hvfhs_license_num dispatching_base_num originating_base_num  \
0            HV0003               B03404               B03404
1            HV0003               B03404               B03404
2            HV0003               B03404               B03404
3            HV0003               B03404               B03404
4            HV0003               B03404               B03404

     request_datetime   on_scene_datetime     pickup_datetime  \
0 2023-01-01 00:18:06 2023-01-01 00:19:24 2023-01-01 00:19:38
1 2023-01-01 00:48:42 2023-01-01 00:56:20 2023-01-01 00:58:39
2 2023-01-01 00:15:35 2023-01-01 00:20:14 2023-01-01 00:20:27
3 2023-01-01 00:35:24 2023-01-01 00:39:30 2023-01-01 00:41:05
4 2023-01-01 00:43:15 2023-01-01 00:51:10 2023-01-01 00:52:47

     dropoff_datetime  PULocationID  DOLocationID  trip_miles  ...  sales_tax  \
0 2023-01-01 00:48:07            48            68        0.94  ...       2.30
1 2023-01-01 01:33:08           246           163        2.78  ...       5.34
2 2023-01-01 00:37:54             9           129        8.81  ...       2.16
3 2023-01-01 00:48:16           129           129        0.67  ...       1.22
4 2023-01-01 01:04:51           129            92        4.38  ...       1.82

   congestion_surcharge  airport_fee  tips  driver_pay  shared_request_flag  \
0                  2.75          0.0  5.22       27.83                    N
1                  2.75          0.0  0.00       50.15                    N
2                  0.00          0.0  0.00       20.22                    N
3                  0.00          0.0  0.00        7.90                    N
4                  0.00          0.0  0.00       16.48                    N

   shared_match_flag  access_a_ride_flag  wav_request_flag wav_match_flag
0                  N                                     N              N
1                  N                                     N              N
2                  N                                     N              N
3                  N                                     N              N
4                  N                                     N              N

[5 rows x 24 columns]

### Cleaning and Filtering
* Remove all non-Uber data from fhvhv
* Remove all invalid pickup and dropoff location IDs for both uber and yellow taxi, where ID is greater than 263 using the `shp` file
* Remove unnecessary columns and only keeping columns needed to answer questions in the other parts of this project
* Remove invalid data points (use your discretion!)
* normalize column names; 
normalieg and using appropriate column types for the respective dat

* Remove trips from both uber and yellow taxi that start and/or end outside of the following latitude/longitude coordinate box: (40.560445, -74.242330) and (40.908524, -73.71704).

In [13]:
def lookup_coords_for_taxi_zone_id(zone_loc_id, loaded_taxi_zones):
    gdf_taxi_zones = gdf_taxi_zones.to_crs(epsg=4326)
    example_df2 = example_df2[example_df2['hvfhs_license_num'] == 'HV0003']

In [14]:
# filter out all non-uber data
example_df2 = example_df2[example_df2['hvfhs_license_num'] == 'HV0003']

#sanity checkto see if there are any PU or DO without a value or outside the range of IDs in the shapefile
example_df2[example_df2['PULocationID'].isna() | example_df2['DOLocationID'].isna()] #none

#Ensures our data frame only has PU or DO locations within the location IDs available in the shape file. 
#(263 is the max id provided in the shape file)
example_df2 = example_df2[(example_df2['PULocationID'] <= 263) | (example_df2['DOLocationID'] <= 263)]

#Filter out rides in which the PU and DO location are the same i.e. distance travled = 0. 
example_df2 = example_df2[example_df2['PULocationID'] != example_df2['DOLocationID']]

In [15]:
#Compute the center of the taxi zones for easier comparison 
gdf_taxi_zones['centroid'] = gdf_taxi_zones.geometry.centroid

C:\Users\huang\AppData\Local\Temp\ipykernel_28984\3385692744.py:2: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  gdf_taxi_zones['centroid'] = gdf_taxi_zones.geometry.centroid

In [16]:
# Make a single df that includes the taxi rides and their corresponding coordinates by merging the shape file with the ride files.
combined = pd.merge(example_df2, gdf_taxi_zones, left_on = 'PULocationID', right_on = 'LocationID', how="inner")

#
centroid_df = combined[['hvfhs_license_num', 'dispatching_base_num', 'originating_base_num',
       'request_datetime', 'on_scene_datetime', 'pickup_datetime',
       'dropoff_datetime', 'PULocationID', 'DOLocationID', 'trip_miles',
       'trip_time', 'base_passenger_fare', 'tolls', 'bcf', 'sales_tax',
       'congestion_surcharge', 'airport_fee', 'tips', 'driver_pay',
       'shared_request_flag', 'shared_match_flag', 'access_a_ride_flag',
       'wav_request_flag', 'wav_match_flag', 'OBJECTID', 'Shape_Leng',
       'Shape_Area', 'zone', 'LocationID', 'borough', 'centroid']]

print(centroid_df.head())

  hvfhs_license_num dispatching_base_num originating_base_num  \
0            HV0003               B03404               B03404
1            HV0003               B03404               B03404
2            HV0003               B03404               B03404
3            HV0003               B03404               B03404
4            HV0003               B03404               B03404

     request_datetime   on_scene_datetime     pickup_datetime  \
0 2023-01-01 00:18:06 2023-01-01 00:19:24 2023-01-01 00:19:38
1 2023-01-01 00:48:42 2023-01-01 00:56:20 2023-01-01 00:58:39
2 2023-01-01 00:15:35 2023-01-01 00:20:14 2023-01-01 00:20:27
3 2023-01-01 00:43:15 2023-01-01 00:51:10 2023-01-01 00:52:47
4 2023-01-01 00:06:54 2023-01-01 00:08:59 2023-01-01 00:10:29

     dropoff_datetime  PULocationID  DOLocationID  trip_miles  ...  \
0 2023-01-01 00:48:07            48            68        0.94  ...
1 2023-01-01 01:33:08           246           163        2.78  ...
2 2023-01-01 00:37:54             9           129        8.81  ...
3 2023-01-01 01:04:51           129            92        4.38  ...
4 2023-01-01 00:18:22            90           231        1.89  ...

   access_a_ride_flag  wav_request_flag  wav_match_flag  OBJECTID  Shape_Leng  \
0                                     N               N        48    0.043747
1                                     N               N       246    0.069467
2                                     N               N         9    0.099784
3                                     N               N       129    0.093273
4                                     N               Y        90    0.030759

   Shape_Area                       zone  LocationID    borough  \
0    0.000094               Clinton East          48  Manhattan
1    0.000281  West Chelsea/Hudson Yards         246  Manhattan
2    0.000338                 Auburndale           9     Queens
3    0.000474            Jackson Heights         129     Queens
4    0.000055                   Flatiron          90  Manhattan

                     centroid
0  POINT (-73.98984 40.76225)
1  POINT (-74.00402 40.75331)
2  POINT (-73.78795 40.75104)
3  POINT (-73.88532 40.75731)
4  POINT (-73.99697 40.74228)

[5 rows x 31 columns]

In [17]:
# Remove trips from both uber and yellow taxi that start and/or end outside of the following latitude/longitude coordinate box:
# (40.560445, -74.242330) and (40.908524, -73.71704).

LAT_MIN, LON_MIN = 40.560445, -74.242330
LAT_MAX, LON_MAX = 40.908524, -73.717047

# Extract latitude and longitude from the 'centroid' column using .apply()
centroid_df['centroid_lat'] = centroid_df['centroid'].apply(lambda point: point.y)
centroid_df['centroid_lon'] = centroid_df['centroid'].apply(lambda point: point.x)

# Filter rows where the centroid coordinates are within the bounding box
within_bounds_df = centroid_df[
    (centroid_df['centroid_lat'] >= LAT_MIN) & (centroid_df['centroid_lat'] <= LAT_MAX) &
    (centroid_df['centroid_lon'] >= LON_MIN) & (centroid_df['centroid_lon'] <= LON_MAX)
]

# Display the filtered rows
print(within_bounds_df.head())

  hvfhs_license_num dispatching_base_num originating_base_num  \
0            HV0003               B03404               B03404
1            HV0003               B03404               B03404
2            HV0003               B03404               B03404
3            HV0003               B03404               B03404
4            HV0003               B03404               B03404

     request_datetime   on_scene_datetime     pickup_datetime  \
0 2023-01-01 00:18:06 2023-01-01 00:19:24 2023-01-01 00:19:38
1 2023-01-01 00:48:42 2023-01-01 00:56:20 2023-01-01 00:58:39
2 2023-01-01 00:15:35 2023-01-01 00:20:14 2023-01-01 00:20:27
3 2023-01-01 00:43:15 2023-01-01 00:51:10 2023-01-01 00:52:47
4 2023-01-01 00:06:54 2023-01-01 00:08:59 2023-01-01 00:10:29

     dropoff_datetime  PULocationID  DOLocationID  trip_miles  ...  \
0 2023-01-01 00:48:07            48            68        0.94  ...
1 2023-01-01 01:33:08           246           163        2.78  ...
2 2023-01-01 00:37:54             9           129        8.81  ...
3 2023-01-01 01:04:51           129            92        4.38  ...
4 2023-01-01 00:18:22            90           231        1.89  ...

   wav_match_flag  OBJECTID  Shape_Leng  Shape_Area  \
0               N        48    0.043747    0.000094
1               N       246    0.069467    0.000281
2               N         9    0.099784    0.000338
3               N       129    0.093273    0.000474
4               Y        90    0.030759    0.000055

                        zone  LocationID    borough  \
0               Clinton East          48  Manhattan
1  West Chelsea/Hudson Yards         246  Manhattan
2                 Auburndale           9     Queens
3            Jackson Heights         129     Queens
4                   Flatiron          90  Manhattan

                     centroid  centroid_lat centroid_lon
0  POINT (-73.98984 40.76225)     40.762253   -73.989845
1  POINT (-74.00402 40.75331)     40.753309   -74.004015
2  POINT (-73.78795 40.75104)     40.751035   -73.787949
3  POINT (-73.88532 40.75731)     40.757312   -73.885317
4  POINT (-73.99697 40.74228)     40.742279   -73.996971

[5 rows x 33 columns]

### Calculate Sample Size

In [89]:
# default: 95% confidence interval, 5% margin of error, p of 0.5 (estimated) proportion of the population which has the attribute in question
def cochran_sample_size(population_size, z_score, margin_of_error, p):
    z_score=1.96
    margin_of_error=0.05
    p=0.5
    sample_size = ((z_score**2)*p*(1-p)) / (margin_of_error**2)
    adjusted_sample_size = sample_size / (1 + ((sample_size-1)/population_size))

    return adjusted_sample_size

### Common Functions

In [19]:
# converts taxi zone geometry coordinates to the appropriate coordinate system  
gdf_taxi_zones = gdf_taxi_zones.to_crs(epsg=4326)
#Compute the center of the taxi zones for easier comparison 
gdf_taxi_zones['centroid'] = gdf_taxi_zones.geometry.centroid

# Make a single df that includes the taxi rides and their corresponding coordinates by merging the shape file with the ride files.
combined = pd.merge(example_df2, gdf_taxi_zones, left_on = 'PULocationID', right_on = 'LocationID', how="inner")

#
centroid_df = combined[['hvfhs_license_num', 'dispatching_base_num', 'originating_base_num',
       'request_datetime', 'on_scene_datetime', 'pickup_datetime',
       'dropoff_datetime', 'PULocationID', 'DOLocationID', 'trip_miles',
       'trip_time', 'base_passenger_fare', 'tolls', 'bcf', 'sales_tax',
       'congestion_surcharge', 'airport_fee', 'tips', 'driver_pay',
       'shared_request_flag', 'shared_match_flag', 'access_a_ride_flag',
       'wav_request_flag', 'wav_match_flag', 'OBJECTID', 'Shape_Leng',
       'Shape_Area', 'zone', 'LocationID', 'borough', 'centroid']]

print(centroid_df.head())

### Process Taxi Data

In [ ]:
def get_and_clean_taxi_month(url):
    raise NotImplementedError()

In [ ]:
def get_and_clean_taxi_data(parquet_urls):
    all_taxi_dataframes = []
    
    for parquet_url in parquet_urls:
        # maybe: first try to see if you've downloaded this exact
        # file already and saved it before trying again
        dataframe = get_and_clean_month(parquet_url)
        # maybe: if the file hasn't been saved, save it so you can
        # avoid re-downloading it if you re-run the function
        
        all_taxi_dataframes.append(dataframe)
        
    # create one gigantic dataframe with data from every month needed
    taxi_data = pd.contact(all_taxi_dataframes)
    return taxi_data

In [ ]:
def get_taxi_data():
    all_urls = get_all_urls_from_taxi_page(TLC_URL)
    all_parquet_urls = find_taxi_parquet_urls(all_urls)
    taxi_data = get_and_clean_taxi_data(all_parquet_urls)
    return taxi_data

In [ ]:
taxi_data = get_taxi_data()

In [ ]:
taxi_data.head()

In [ ]:
taxi_data.info()

In [ ]:
taxi_data.describe()

### Processing Uber Data

In [ ]:
def get_and_clean_uber_month(url):
    raise NotImplementedError()

In [ ]:
def get_and_clean_uber_data(parquet_urls):
    all_uber_dataframes = []
    
    for parquet_url in parquet_urls:
        # maybe: first try to see if you've downloaded this exact
        # file already and saved it before trying again
        dataframe = get_and_clean_uber_month(parquet_url)
        # maybe: if the file hasn't been saved, save it so you can
        # avoid re-downloading it if you re-run the function
        
        all_uber_dataframes.append(dataframe)
        
    # create one gigantic dataframe with data from every month needed
    uber_data = pd.contact(all_uber_dataframes)
    return uber_data

In [ ]:
def load_and_clean_uber_data():
    raise NotImplementedError()

In [ ]:
def get_uber_data():
    all_urls = get_all_urls_from_tlc_page(TLC_URL)
    all_parquet_urls = find_parquet_urls(all_urls)
    taxi_data = get_and_clean_uber_data(all_parquet_urls)
    return taxi_data

In [ ]:
uber_data = get_uber_data()

In [ ]:
uber_data.head()

In [ ]:
uber_data.info()

In [ ]:
uber_data.describe()

### Processing Weather Data

In [ ]:
def get_all_weather_csvs(directory):
    raise NotImplementedError()

In [ ]:
def clean_month_weather_data_hourly(csv_file):
    raise NotImplementedError()

In [ ]:
def clean_month_weather_data_daily(csv_file):
    raise NotImplementedError()

In [ ]:
def load_and_clean_weather_data():
    weather_csv_files = get_all_weather_csvs(WEATHER_CSV_DIR)
    
    hourly_dataframes = []
    daily_dataframes = []
        
    for csv_file in weather_csv_files:
        hourly_dataframe = clean_month_weather_data_hourly(csv_file)
        daily_dataframe = clean_month_weather_data_daily(csv_file)
        hourly_dataframes.append(hourly_dataframe)
        daily_dataframes.append(daily_dataframe)
        
    # create two dataframes with hourly & daily data from every month
    hourly_data = pd.concat(hourly_dataframes)
    daily_data = pd.concat(daily_dataframes)
    
    return hourly_data, daily_data

In [ ]:
hourly_weather_data, daily_weather_data = load_and_clean_weather_data()

In [ ]:
hourly_weather_data.head()

In [ ]:
hourly_weather_data.info()

In [ ]:
hourly_weather_data.describe()

In [ ]:
daily_weather_data.head()

In [ ]:
daily_weather_data.info()

In [ ]:
daily_weather_data.describe()

## Part 2: Storing Cleaned Data

In [ ]:
engine = db.create_engine(DATABASE_URL)

In [ ]:
# if using SQL (as opposed to SQLAlchemy), define the commands 
# to create your 4 tables/dataframes
HOURLY_WEATHER_SCHEMA = """
TODO
"""

DAILY_WEATHER_SCHEMA = """
TODO
"""

TAXI_TRIPS_SCHEMA = """
TODO
"""

UBER_TRIPS_SCHEMA = """
TODO
"""

In [ ]:
# create that required schema.sql file
with open(DATABASE_SCHEMA_FILE, "w") as f:
    f.write(HOURLY_WEATHER_SCHEMA)
    f.write(DAILY_WEATHER_SCHEMA)
    f.write(TAXI_TRIPS_SCHEMA)
    f.write(UBER_TRIPS_SCHEMA)

In [ ]:
# create the tables with the schema files
with engine.connect() as connection:
    pass

### Add Data to Database

In [ ]:
def write_dataframes_to_table(table_to_df_dict):
    raise NotImplemented()

In [ ]:
map_table_name_to_dataframe = {
    "taxi_trips": taxi_data,
    "uber_trips": uber_data,
    "hourly_weather": hourly_data,
    "daily_weather": daily_data,
}

In [ ]:
write_dataframes_to_table(map_table_name_to_dataframe)

## Part 3: Understanding the Data

In [ ]:
# Helper function to write the queries to file
def write_query_to_file(query, outfile):
    raise NotImplementedError()

### Query 1

In [ ]:
QUERY_1_FILENAME = ""

QUERY_1 = """
TODO
"""

In [ ]:
# execute query either via sqlalchemy
with engine.connect() as con:
    results = con.execute(db.text(QUERY_1)).fetchall()
results

# or via pandas
pd.read_sql(QUERY_1, con=engine)

In [ ]:
write_query_to_file(QUERY_1, QUERY_1_FILENAME)

## Part 4: Visualizing the Data

### Visualization 1

In [ ]:
# use a more descriptive name for your function
def plot_visual_1(dataframe):
    figure, axes = plt.subplots(figsize=(20, 10))
    
    values = "..."  # use the dataframe to pull out values needed to plot
    
    # you may want to use matplotlib to plot your visualizations;
    # there are also many other plot types (other 
    # than axes.plot) you can use
    axes.plot(values, "...")
    # there are other methods to use to label your axes, to style 
    # and set up axes labels, etc
    axes.set_title("Some Descriptive Title")
    
    plt.show()

In [ ]:
def get_data_for_visual_1():
    # Query SQL database for the data needed.
    # You can put the data queried into a pandas dataframe, if you wish
    raise NotImplementedError()

In [ ]:
some_dataframe = get_data_for_visual_1()
plot_visual_1(some_dataframe)